.panel.panel-primary.blue {
    background-color: #2980b9;
    color : white;
}

.panel.panel-primary.green {
    background-color: #27ae60;
    color : white;
}

.panel.panel-primary.red {
    background-color: #c0392b;
    color : white;
}

.panel.panel-primary.black {
    background-color: #2c3e50;
    color : white;
}

.panel.panel-primary.violet {
    background-color: #8e44ad;
    color : white;
}

.color:hover.turquoise {
  background-color: #1dd2af;
}

.color:hover.green-sea {
  background-color: #19b698;
}

.color:hover.emerland {
  background-color: #40d47e;
}

.color:hover.nephritis {
  background-color: #2cc36b;
}

.color:hover.peter-river {
  background-color: #4aa3df;
}

.color:hover.belize-hole {
  background-color: #2e8ece;
}

.color:hover.amethyst {
  background-color: #a66bbe;
}

.color:hover.wisteria {
  background-color: #9b50ba;
}

.color:hover.wet-asphalt {
  background-color: #3d566e;
}

.color:hover.midnight-blue {
  background-color: #354b60;
}

.color:hover.sun-flower {
  background-color: #f2ca27;
}

.color:hover.orange {
  background-color: #f4a62a;
}

.color:hover.carrot {
  background-color: #e98b39;
}

.color:hover.pumpkin {
  background-color: #ec5e00;
}

.color:hover.alizarin {
  background-color: #ea6153;
}

.color:hover.pomegranate {
  background-color: #d14233;
}

.color:hover.clouds {
  background-color: #fbfcfc;
  color: #bdc3c7;
}

.color:hover.silver {
  background-color: #cbd0d3;
}

.color:hover.concrete {
  background-color: #a3b1b2;
}

.color:hover.asbestos {
  background-color: #8c9899;
}

.color:hover header {
  display: block;
}
.color.turquoise {
  background-color: #1ABC9C;
}
.color.green-sea {
  background-color: #16A085;
}
.color.emerland {
  background-color: #2ECC71;
}
.color.nephritis {
  background-color: #27AE60;
}
.color.peter-river {
  background-color: #3498DB;
}
.color.belize-hole {
  background-color: #2980B9;
}
.color.amethyst {
  background-color: #9B59B6;
}
.color.wisteria {
  background-color: #8E44AD;
}
.color.wet-asphalt {
  background-color: #34495E;
}
.color.midnight-blue {
  background-color: #2C3E50;
}
.color.sun-flower {
  background-color: #F1C40F;
}
.color.orange {
  background-color: #F39C12;
}
.color.carrot {
  background-color: #E67E22;
}
.color.pumpkin {
  background-color: #D35400;
}
.color.alizarin {
  background-color: #E74C3C;
}
.color.pomegranate {
  background-color: #C0392B;
}
.color.clouds {
  background-color: #ECF0F1;
  color: #bdc3c7;
}
.color.silver {
  background-color: #BDC3C7;
}
.color.concrete {
  background-color: #95A5A6;
}
.color.asbestos {
  background-color: #7F8C8D;
}