/* ### FONTS ### */
@font-face { font-family: 'Segoe UI'; src: url('webFonts/segoe_ui_semibold.eot'); src: url('webFonts/segoe_ui_semibold.eot?#iefix') format('embedded-opentype'), url('webFonts/segoe_ui_semibold.svg#Segoe UI Semibold') format('svg'), url('webFonts/segoe_ui_semibold.woff') format('woff'), url('webFonts/segoe_ui_semibold.ttf') format('truetype'); font-weight: bold; font-style: normal;}
@font-face { font-family: 'Segoe UI'; src: url('webFonts/segoe_ui_light.eot'); src: url('webFonts/segoe_ui_light.eot?#iefix') format('embedded-opentype'), url('webFonts/segoe_ui_light.svg#Segoe UI Semibold') format('svg'), url('webFonts/segoe_ui_light.woff') format('woff'), url('webFonts/segoe_ui_light.ttf') format('truetype'); font-weight: normal; font-style: normal;}

/* ### COMMON ### */
button {
  border: none;
  margin: 5px;
  padding:  10px;
}

button.btnOk {
  background-color: #26A65B;
  color: white;
}

button.btnCancel {
  background-color: #E74C3C;
  color: white;
}

body {
  margin-top: 50px;
}

div.actionPanel {
  background-color: #633611;
  margin-top: 50px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  top: 0px;
  height: 100%;
  padding-right: 0px;
}

div.mainArea {
  background-color: #FFECDB;
  margin-top: 50px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  top: 0px;
  height: 100%;
  overflow-y: scroll;
}

/* ### BARISTA ### */
div.baristaOrder {
  background-color: #D2D7D3;
  text-align: center;
  position: relative;
  right: 0px;
  padding: 10px 0px;
}

.itemDescription {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: #049372;
    cursor: pointer;
}

.itemDescription h4 {
  #font-size: 
}

.orderItem h4 {
  display: inline-block;
  padding-right: 5px;
  position: relative;
  font-family: Segoe UI;
}

.orderItem h4.itemName {
  position: absolute;
  left: 5px;
}

.orderItem h4.itemCount {
  position: absolute;
  right: 50px;
}

.orderItem  {
  text-align: right;
  background-color: white;
  margin: 2px;
  padding-bottom: 4px;
  padding-right: 2px;
  cursor: pointer;
}

.orderItem:hover  {
  background-color: #E4F1FE;
  color: #26A65B;
}


.orderItem button {
  padding: 0px;
  margin: 0px;
  top:  2px;
  position: relative;
  width:  25px;
  height: 30px;
  border: none;
  background-color: rgba(0,0,0,0);
}

.orderItem button:hover {
  color: #E74C3C;
}

.orderItem button > span {
  font-size: large;
  padding-top: 5px;
}

#orderDetails {
  margin-left: 5px;
}