/* ### FONTS ### */
@import "http://webfonts.ru/import/osans.css";
@import "http://webfonts.ru/import/intro.css";
@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaLT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}

/* ### COMMON ### */
.itemDescription {
    display: inline-block;
    background-color: rgb(#555);
    padding: 20px;
}

.actionPanel {
  background-color: rgb(94,51,29);
  position: fixed;
  bottom: 0px;
  left: 0px;
  top: 0px;
}

.mainArea {
  background-color: rgb(200,178,168);
  position: fixed;
  bottom: 0px;
  right: 0px;
  top: 0px;
  height: 100%;
}

/* ### BARISTA ### */
#orderItems div.orderItem {
  background-color: #C8557E;
  margin: 2px;
  padding-bottom: 4px;
  padding-right: 2px;
}
.orderItem h4 {
  display: inline-block;
  padding-right: 5px;
  position: relative;
  color: white;
}

.orderItem h4.itemName {
  position: absolute;
  left: 25px;
}

.orderItem h4.itemCount {
  position: absolute;
  right: 110px;
}

.orderItem  {
  text-align: right;
}

.orderItem button {
  padding: 0px;
  margin: 0px;
  top:  2px;
  position: relative;
  width:  25px;
  height: 30px;
  border: none;
  background-color: rgba(0,0,0,0);
}

.orderItem button > span {
  font-size: large;
  padding-top: 5px;
  color: white;
}

.orderItem button:hover > span {
  color: yellow;
}

#orderDetails {
  margin-left: 5px;
}